# Terraform working dir settings
.terraform/

# Terraform local state files.  These shouldn't exist with our remote state
# store, but in case they do, make sure they aren't committed.
terraform.tfstate*

# Terraform plans, per our suggested usage in (nextstrain.org) docs
/env/*/plan
